@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

/* responsive */
@media screen and (min-width: 992px) {
  #abo .card {
    width: fit-content;
  }
  #abo .card-img-overlay {
    margin-top: 24em;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #abo .card {
    width: fit-content;
  }
  #abo .card-img-overlay {
    margin-top: 15em;
    text-align: center;
  }
}
@media screen and (min-width: 576px) {
  nav .logo {
    color: #fff;
    font-size: 35px;
    margin-right: 10em;
  }
  #abo .card {
    width: fit-content;
  }
  #abo .card-img-overlay {
    margin-top: 15em;
    text-align: center;
  }
}
@media screen and (min-width: 0px) {
  #abo .card-img-overlay {
    margin-top: 7em;
    text-align: center;
  }
}
/* end navbar */

.content1 {
  text-align: center;
  align-items: center;
  position: absolute;
}

.abo {
  background-color: rgb(240, 240, 240);
  text-align: center;
  align-items: center;
  display: flex;
  min-height: 569px;
  height: 100%;
  padding-bottom: 1.5em;
}

.carousel {
  margin-top: 80px;
}

.button :hover {
  transition: ease-in-out;
  opacity: 0.3;
  background-color: white;
  padding: 15px;
}
.btn-group {
  background-color: #fff;
  margin-bottom: 1px;
  margin-top: -3px;
}

/* bagian paket */
/* .abo {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
  margin-top: 1.5em;
}
.features {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 5px !important;
  min-height: 155px !important;
  padding: 15px !important;
  justify-content: flex-end;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
/* place-content: center;
  text-align: center;
  cursor: pointer;
}
.feature-1 {
  grid-area: feature-1;
  background-image: url(bromo/images-bromo/bromo4-custom.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
}
.feature-2 {
  grid-area: feature-2;
  background-image: url(bromo/images-bromo/bromo3.jpg);
  background-size: cover;
} */
.abo {
  margin-bottom: 10em;
}
.card {
  width: 18rem;
  margin: auto;
  border: 0;
}
.card-img-overlay {
  text-align: center;
  margin-top: 7em;
}
.btn-info {
  padding: 2em;
}
#about-us .img-fluid {
  width: auto;
  height: auto;
}
#about-us .cek img {
  width: 2em;
  letter-spacing: 3px;
}
#about-us {
  background-color: rgb(240, 240, 240);
  padding-top: 1em;
  padding-bottom: 1em;
}
#service .fa-solid {
  color: aqua;
}
#artikel {
  background-color: rgb(240, 240, 240);
  padding-top: 1em;
  padding-bottom: 1em;
}

/* about */
div.box {
  width: 457px;
  height: 450px;
  background: url(img/nightsky.jpg);
  background-size: cover;
  position: absolute;
  /* margin-left: 830px;
	margin-top: 765px; */
  display: inline-block;
  /* border: 5px solid black; */
}

div.mu {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: url(images/earthtown.png);
  background-size: cover;
  margin: 5px;
  position: absolute;
  animation: orbit 30s linear infinite;
}

div.ki {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 100%;
  margin: 100px 99px;
  animation: orbit 5s linear infinite;
}

div.orbit {
  margin-left: -100px;
  margin-top: -100px;
  height: 120px;
  width: 120px;
  position: absolute;
  background: url(images/plane.png);
  background-size: cover;
  border-radius: 100%;
  transform: rotate(-50deg);
}

@keyframes orbit {
  100% {
    transform: rotate(-360deg);
  }
}
