@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #29ccd8;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-right: auto;
}
nav .logo span {
  color: lightgreen;
}
nav .logo img {
  width: 53px;
}
nav ul {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #29ccd8;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.akun{
  display: flex;
  margin-top: -5px;
  margin-right: -25px;
}

.content1 {
  text-align: center;
  align-items: center;
  position: absolute;
}

.abo {
  background-color: rgb(240, 240, 240);
  text-align: center;
  align-items: center;
  display: flex;
  min-height: 569px;
  height: 100%;
}

.carousel-caption {
  margin-bottom: 200px;
}

.button :hover {
  transition: ease-in-out;
  opacity: 0.3;
  background-color: white;
}
